* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background: rgba(180, 120, 236, 0.789);
  color: aliceblue;
}
textarea {
  width: 500px;
  min-height: 250px;
  resize: vertical;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 0.5rem;
}
#preview {
  padding: 10px 0px 10px 20px;
  text-align: left;
  color: rgba(0, 0, 0, 0.571);
  margin: 30px;
  border: 3px solid #187979;
  border-radius: 20px;
  background: #7dcfdc;
}
#preview pre {
  background-color: rgb(240, 255, 246);
  margin-right: 20px;
  padding: 10px;
}
#preview img {
  width: 500px;
}
